<!DOCTYPE html>
{% load static %}
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Change Password</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ organization.logo.url }}">
    <link href="{% static 'assets/css/style.min.css' %}" rel="stylesheet">
</head>

<body>
    <div class="main-wrapper">
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark">
            <div class="auth-box bg-dark border-secondary">
                <h1 style="color: aliceblue; text-align: center;">Change Password</h1>
                <div class="text-center p-t-20 p-b-20">
                    <span class="db">
                        <img src="{{ organization.logo.url }}" alt="logo" style="max-height: 80px; width: auto;">
                    </span>
                </div>
                
                <form class="form-horizontal m-t-20" method="post" action="{% url 'frontend:change_password' %}">
                    {% csrf_token %}
                    <div class="row p-b-30">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-success text-white"><i class="ti-lock"></i></span>
                                </div>
                                <input type="password" name="old_password" class="form-control form-control-lg" placeholder="Current Password" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-warning text-white"><i class="ti-pencil"></i></span>
                                </div>
                                <input type="password" name="new_password1" class="form-control form-control-lg" placeholder="New Password" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-danger text-white"><i class="ti-key"></i></span>
                                </div>
                                <input type="password" name="new_password2" class="form-control form-control-lg" placeholder="Confirm New Password" required>
                            </div>
                        </div>
                    </div>
                    <div class="row border-top border-secondary">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="p-t-20">
                                    <a href="{% url 'frontend:index' %}" class="btn btn-secondary">Back to Home</a>
                                    <button class="btn btn-success float-right" type="submit">Change Password</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $(".preloader").fadeOut();
        });
    </script>
</body>

</html>
